@model Surveys.Models.Patients

@{
    ViewBag.Title = "Usuń pacjenta";
}

<h2>@ViewBag.Title</h2>

<h3>Na pewno usunąć pacjenta <i>@Model.Code</i>?</h3>

@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Usuń" /> |
        @Html.ActionLink("Wroć do listy pacjentów", "Index")
    </p>
}
