@{
    ViewBag.Title = "Kontakt";
    ViewBag.Message = "informacje kontaktowe";

}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Telefon</h3>
    </header>
    <p>
        <span class="label">Ktośtam:</span>
        <span>+48 XXX XXX XXX</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Wsparcie:</span>
        <span><a href="wsparcie@wsparcie.pl">wsparcie@wsparcie.pl</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Adres</h3>
    </header>
    <p>
        ...<br />
        ...
    </p>
</section>