@model Surveys.DTOs.SurveyDTO

@{
    ViewBag.Title = "Ankieta \"0\"";
    ViewBag.Message = "Dane z badania fizykalnego";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

@Html.Partial("_SurveyPartial", Model)