@model Surveys.DTOs.SurveyDTO

@{
    ViewBag.Title = "Ankieta \"0\"";
    ViewBag.Message = "Dane z badań dodatkowych (do wykonania w ośrodku badającym pacjenta)";
    ViewBag.Message2 = "Badania obrazowe";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@ViewBag.Message</h2>
    <h2>@ViewBag.Message2</h2>
</hgroup>

@Html.Partial("_SurveyPartial", Model)